<h2>問題（<%= @prob_num %>/<%= @prob_cnt %>）</h2>
<p><%= @vocab_book.comment %></p>

<h2>選択肢</h2>
<% @vocab_books.each do |vocab| %>
  <%= link_to vocab.word, problems_answer_path(@prob_typ, @problem, vocab) %>
  <%= vocab.id %>
<% end %>


<p>★正解単語id★</p>
<P><%= @problem.vocab_book_id %></P>